@using OrangeProjectMVC.Models
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta lang="ar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>الاردن ينتخب - @ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/images/fav-icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/assets/images/fav-icon/favicon.ico" type="image/x-icon">
    <link href="~/assets/css/animate.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    @{
        // Initialize your DbContext
        bool electionRunning;
        bool nominationRunning;

        bool resultsRunning;
        using (var context = new electionEntities())
        {
            // Retrieve the value from the database
            var dates = context.Dates.FirstOrDefault();
            electionRunning =
                    dates != null &&
                    dates.election_start_date < DateTime.Now &&
                    dates.election_end_date > DateTime.Now;
            nominationRunning = dates != null &&
                                dates.nomination_start_date < DateTime.Now &&
                                dates.nomination_end_date > DateTime.Now;

            resultsRunning = dates != null && dates.election_end_date < DateTime.Now;
        }
    }

    @Styles.Render("~/Content/userCycle")
    @Styles.Render("~/flip/css")
    @Scripts.Render("~/flip/js")


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-TdB0VebYyFnfVYZlHHgbJ6M5rZ/kHvdBtTYT4sEc7S+5pvJD/gxMwc5RbfA7LkRN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-rtl@4.6.0/dist/css/bootstrap-rtl.min.css" integrity="sha384-TdB0VebYyFnfVYZlHHgbJ6M5rZ/kHvdBtTYT4sEc7S+5pvJD/gxMwc5RbfA7LkRN" crossorigin="anonymous">

    <style>
        .navbar-nav .nav-link {
            font-family: 'Cairo', sans-serif !important;
            font-weight: 700 !important;
            color: black !important;
            position: relative;
            transition: color 0.3s ease-in-out !important;
        }


            .navbar-nav .nav-link:hover {
                color: #D10024 !important; /* The hover color for the links */
            }

                .navbar-nav .nav-link:hover::after {
                    visibility: visible;
                    width: 100%;
                }

        .btn-primary {
            background-color: #D10024 !important; /* Apply the desired color for the button */
            border-color: #D10024 !important;
        }

            .btn-primary:hover {
                background-color: #b8001e !important; /* Darker shade for the button on hover */
                border-color: #b8001e !important;
            }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Cairo', sans-serif !important;
        }
    </style>


    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/66c47fcbea492f34bc0817ff/1i5np6cnh';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</head>











<body>



    <!-- SVG Sprite -->
    <svg style="display: none;">
        <symbol id="mail-icon" viewBox="0 0 24 24">
            <path d="M12 13.5l-12-7.5v15h24v-15l-12 7.5z"></path>
            <path d="M12 12l12-7.5h-24z"></path>
        </symbol>
        <symbol id="location-icon" viewBox="0 0 24 24">
            <path d="M12 2c-3.9 0-7 3.1-7 7 0 4.3 7 13 7 13s7-8.7 7-13c0-3.9-3.1-7-7-7zm0 9.2c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2s2.2 1 2.2 2.2c0 1.2-1 2.2-2.2 2.2z"></path>
        </symbol>
        <symbol id="phone-icon" viewBox="0 0 24 24">
            <path d="M6.62 10.79a15.91 15.91 0 006.59 6.59l2.2-2.2a1 1 0 011.06-.24c1.12.37 2.33.57 3.53.57a1 1 0 011 1v3.99a1 1 0 01-1 1c-9.39 0-17-7.61-17-17a1 1 0 011-1h4a1 1 0 011 1c0 1.2.2 2.41.57 3.53a1 1 0 01-.24 1.06l-2.2 2.2z"></path>
        </symbol>
        <symbol id="facebook-icon" viewBox="0 0 24 24">
            <path d="M22 12c0-5.52-4.48-10-10-10s-10 4.48-10 10c0 4.92 3.54 9 8.2 9.88v-7h-2.46v-2.88h2.46v-2.2c0-2.42 1.43-3.75 3.62-3.75 1.05 0 2.15.18 2.15.18v2.37h-1.22c-1.2 0-1.57.74-1.57 1.49v1.91h2.68l-.43 2.88h-2.25v7c4.66-.88 8.2-4.96 8.2-9.88z"></path>
        </symbol>
        <symbol id="twitter-icon" viewBox="0 0 24 24">
            <path d="M24 4.56c-.88.38-1.83.64-2.83.76a4.94 4.94 0 002.17-2.72 9.86 9.86 0 01-3.13 1.2 4.92 4.92 0 00-8.37 4.48 13.94 13.94 0 01-10.12-5.14 4.91 4.91 0 001.52 6.57 4.92 4.92 0 01-2.23-.62v.06a4.93 4.93 0 003.95 4.83 4.92 4.92 0 01-2.22.08 4.92 4.92 0 004.6 3.42 9.86 9.86 0 01-6.11 2.1c-.4 0-.79-.02-1.18-.07a13.91 13.91 0 007.55 2.22c9.06 0 14-7.5 14-14v-.63a10 10 0 002.46-2.54z"></path>
        </symbol>
        <symbol id="linkedin-icon" viewBox="0 0 24 24">
            <path d="M22.23 0h-20.46c-.98 0-1.77.79-1.77 1.77v20.46c0 .98.79 1.77 1.77 1.77h20.46c.98 0 1.77-.79 1.77-1.77v-20.46c0-.98-.79-1.77-1.77-1.77zm-15.08 20.54h-3.36v-11.13h3.36v11.13zm-1.68-12.68c-1.08 0-1.95-.88-1.95-1.95s.88-1.95 1.95-1.95 1.95.88 1.95 1.95-.88 1.95-1.95 1.95zm13.5 12.68h-3.36v-5.61c0-1.34-.03-3.07-1.87-3.07-1.87 0-2.16 1.45-2.16 2.96v5.72h-3.36v-11.13h3.23v1.52h.05c.45-.85 1.55-1.75 3.2-1.75 3.42 0 4.05 2.25 4.05 5.18v6.19z"></path>
        </symbol>
    </svg>

    <header class="section-header header-2 menu-uppercase">
        <div class="top-bar bg-secondary text-bg-dark py-3" data-bs-theme="dark">
            <div class="container">
                <div class="row g-20 align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <ul class="top-bar-contact-lists list-unstyled mb-0 d-flex flex-column gap-2 flex-lg-row gap-lg-20">
                            <li class="d-flex gap-2 align-items-center">
                                <span class="mail-icon text-white">
                                    <svg width="12" height="12"><use xlink:href="#mail-icon"></use></svg>
                                </span>
                                <p class="mb-0 fw-light small"><a href="mailto:info@info.info" class="text-decoration-none link-hover-animation-1">info@iec.jo</a></p>
                            </li>
                            <li class="d-flex gap-2 align-items-center">
                                <span class="location-icon text-white">
                                    <svg width="14" height="14"><use xlink:href="#location-icon"></use></svg>
                                </span>
                                <p class="mb-0 fw-light small"><a href="#" class="text-decoration-none link-hover-animation-1">منطقة تلاع العلي - شارع إسماعيل حجازي بجانب مبنى ديوان المحاسبة.</a></p>
                            </li>
                            <li class="d-flex gap-2 align-items-center">
                                <span class="phone-icon text-white">
                                    <svg width="12" height="12"><use xlink:href="#phone-icon"></use></svg>
                                </span>
                                <p class="mb-0 fw-light small"><a href="tel:0096265531111" class="text-decoration-none link-hover-animation-1">تلفون: 0096265531111</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center justify-content-lg-end gap-10 social-icons text-white">
                            <p class="small mb-0 fw-light">تابعنا</p>
                            <a href="#" class="text-decoration-none">
                                <span class="facebook-icon">
                                    <svg width="5" height="10"><use xlink:href="#facebook-icon"></use></svg>
                                </span>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <span class="twitter-icon">
                                    <svg width="11" height="9"><use xlink:href="#twitter-icon"></use></svg>
                                </span>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <span class="linkedin-icon">
                                    <svg width="10" height="9"><use xlink:href="#linkedin-icon"></use></svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-xl navbar-light nav-border hover-menu" aria-label="Offcanvas navbar large">
            <div class="container">

                <a href="javascript:void(0)" class="text-decoration-none d-block d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#politixyNavbar" aria-controls="politixyNavbar" aria-label="Toggle navigation">
                    <svg width="40" height="23" viewBox="0 0 40 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="1.5" y1="1.5" x2="38.5" y2="1.5" stroke="#253B2F" stroke-width="3" stroke-linecap="round" />
                        <line x1="1.5" y1="11.5" x2="38.5" y2="11.5" stroke="#253B2F" stroke-width="3" stroke-linecap="round" />
                        <line x1="21.5" y1="21.5" x2="38.5" y2="21.5" stroke="#253B2F" stroke-width="3" stroke-linecap="round" />
                    </svg>
                </a>
                <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="politixyNavbar" aria-labelledby="politixyNavbarLabel">
                    <div class="offcanvas-header">
                        <span class="offcanvas-title" id="politixyNavbarLabel">

                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </span>
                    </div>
                    <div class="offcanvas-body">

                        <a class="navbar-brand py-2 py-xl-0" href="@Url.Action("Index", "UserCycle")">
                            <span class="logo">
                                <img src="~/assets/images/touch-icon-ipad.png" alt="logo-dark">
                            </span>
                        </a>
                        <ul class="navbar-nav gap-30 gap-lg-40 justify-content-center flex-grow-1 align-items-xl-center">

                            <li class="nav-item">
                                <a class="nav-link active d-inline-flex gap-2 align-items-center" href="@Url.Action("Index", "UserCycle")">الصفحة الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-inline-flex gap-2 align-items-center" href="@Url.Action("advertismentst", "UserCycle")">الإعلانات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-inline-flex gap-2 align-items-center" href="@Url.Action("ShowDebates", "Debates")">المناظرات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("contactus", "ContactUs")">تواصل معنا</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("about", "UserCycle")">من نحن</a>
                            </li>
                            @if (nominationRunning)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "reqistList")">طلب الترشح</a>
                                </li>
                            }
                            @if (resultsRunning)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Results", "voter_user")">النتائج</a>
                                </li>
                            }
                            @if (electionRunning)
                            {

                                if (Session["National_ID"] == null)
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-primary" href="@Url.Action("Login", "User")">صوت الان</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="btn btn-primary" href="@Url.Action("Logout", "User")">الخروج</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </nav>

    </header>

    @RenderBody()

    <footer class="section-footer footer-1 bg-secondary text-bg-dark" data-bs-theme="dark">
        <div class="container">
            <div class="footer-wrapper pt-60 pb-5 pt-lg-120 pb-lg-100">
                <div class="row g-40 justify-content-between">
                    <div class="col-lg-5 col-xl-3 col-xxl-4">
                        <div class="logo-footer mb-20 mb-xl-30">
                            <a class="navbar-brand py-0" href="index.html">
                                <span class="logo">
                                    <img src="~/assets/images/logo-white.png" alt="logo-white">
                                </span>
                            </a>
                        </div>
                        <p class="mb-30 body-color-style-2">
                            <div class="d-flex gap-20 social-icons text-white">
                                <a href="#" class="text-decoration-none">
                                    <span class="facebook-icon">
                                        <svg width="9" height="17"><use xlink:href="#facebook-icon"></use></svg>
                                    </span>
                                </a>
                                <a href="#" class="text-decoration-none">
                                    <span class="twitter-icon">
                                        <svg width="19" height="15"><use xlink:href="#twitter-icon"></use></svg>
                                    </span>
                                </a>
                                <a href="#" class="text-decoration-none">
                                    <span class="linkedin-icon">
                                        <svg width="17" height="15"><use xlink:href="#linkedin-icon"></use></svg>
                                    </span>
                                </a>
                            </div>
                        </p>
                    </div>
                    <div class="col-lg-5 col-xl-2">
                        <div class="d-flex flex-column gap-20 gap-lg-30">
                            <h5 class="mb-0">ابحث</h5>
                            <ul class="list-unstyled mb-0 d-flex flex-column gap-10">
                                <li class="d-flex gap-10 align-items-center">
                                    <span class="chevron-right-icon">
                                        <svg width="9" height="14"><use xlink:href="#chevron-right-icon"></use></svg>
                                    </span>
                                    <a href="@Url.Action("about", "UserCycle")" class="text-decoration-none link-hover-animation-1 fw-semibold">من نحن</a>
                                </li>
                                <li class="d-flex gap-10 align-items-center">
                                    <span class="chevron-right-icon">
                                        <svg width="9" height="14"><use xlink:href="#chevron-right-icon"></use></svg>
                                    </span>
                                    <a href="@Url.Action("advertismentst","UserCycle")" class="text-decoration-none link-hover-animation-1 fw-semibold">الإعلانات</a>
                                </li>
                                <li class="d-flex gap-10 align-items-center">
                                    <span class="chevron-right-icon">
                                        <svg width="9" height="14"><use xlink:href="#chevron-right-icon"></use></svg>
                                    </span>
                                    <a href="@Url.Action("ShowDebates", "debates")" class="text-decoration-none link-hover-animation-1 fw-semibold">المناظرات</a>
                                </li>
                                <li class="d-flex gap-10 align-items-center">
                                    <span class="chevron-right-icon">
                                        <svg width="9" height="14"><use xlink:href="#chevron-right-icon"></use></svg>
                                    </span>
                                    <a href="@Url.Action("Index", "reqistList")" class="text-decoration-none link-hover-animation-1 fw-semibold">طلب الترشيح</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-3">
                        <div class="d-flex flex-column gap-20 gap-lg-30">
                            <h5 class="mb-0">معلومات التواصل</h5>
                            <ul class="list-unstyled mb-0 d-flex flex-column gap-3">
                                <li class="d-flex gap-20 align-items-center">
                                    <span class="mail-icon text-white">
                                        <svg width="22" height="18"><use xlink:href="#mail-icon"></use></svg>
                                    </span>
                                    <p class="mb-0 fw-semibold"><a href="mailto:info@iec.jo" class="text-decoration-none link-hover-animation-1">info@iec.jo</a></p>
                                </li>
                                <li class="d-flex gap-20 align-items-center">
                                    <span class="location-icon text-white">
                                        <svg width="22" height="22"><use xlink:href="#location-icon"></use></svg>
                                    </span>
                                    <p class="mb-0 fw-semibold">
                                        <a id="mapDirectionBtn" href="#" class="text-decoration-none link-hover-animation-1" data-bs-toggle="modal" data-bs-target="#RoutingMapModal">
                                            منطقة تلاع العلي - شارع إسماعيل حجازي بجانب مبنى ديوان المحاسبة
                                            ص.ب. (375) عمان (11953) الأردن
                                        </a>
                                    </p>
                                </li>
                                <li class="d-flex gap-20 align-items-center">
                                    <span class="phone-icon text-white">
                                        <svg width="24" height="24"><use xlink:href="#phone-icon"></use></svg>
                                    </span>
                                    <p class="mb-0 fw-semibold">
                                        <a href="tel:0096265531111" class="text-decoration-none link-hover-animation-1">
                                            تلفون: 0096265531111
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4 col-xxl-3">
                        <div class="d-flex flex-column gap-20 gap-lg-30">
                            <h5 class="mb-0">اشترك معنا</h5>
                            <form id="subscriptionForm" class="contact-form row g-3 mb-30" data-bs-theme="light">
                                <div class="col-12">
                                    <input type="text" class="form-control" id="InputText" name="InputText" placeholder="" required>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary w-100">اشترك</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-separator"></div>
            <div class="container">
                <div class="copyright py-30 py-lg-40 d-flex flex-column flex-md-row gap-3 justify-content-between">
                    <p class="mb-0 body-color-style-1">&copy; جميع الحقوق محفوظة للهيئة المستقلة للانتخاب 2024</p>
                    <div class="d-flex gap-4">
                        <a href="#" class="text-decoration-none link-hover-animation-1 body-color-style-1"></a>
                        <a href="#" class="text-decoration-none link-hover-animation-1 body-color-style-1"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/userCycle")
    @RenderSection("scripts", required: false)
</body>
</html>
