@model IEnumerable<OrangeProjectMVC.Models.voter_user>

@{
    ViewBag.Title = "Index";
    var page = Request.QueryString["page"];
    if (String.IsNullOrEmpty(page)) { page = "0"; }
}
@{
    var filter = new OrangeProjectMVC.Controllers.VoterFilterViewModel
    {
        NationalId = Request.QueryString["nationalId"],
        Name = Request.QueryString["name"],
        Email = Request.QueryString["email"],
        BirthDateStart = string.IsNullOrEmpty(Request.QueryString["birthDateStart"]) ? (DateTime?)null : DateTime.Parse(Request.QueryString["birthDateStart"]),
        BirthDateEnd = string.IsNullOrEmpty(Request.QueryString["birthDateEnd"]) ? (DateTime?)null : DateTime.Parse(Request.QueryString["birthDateEnd"]),
        Gender = Request.QueryString["gender"],
        Religion = Request.QueryString["religion"],
        District = Request.QueryString["district"],
        LocallyVoted = Request.QueryString["locallyVoted"] == "on",
        PartyVoted = Request.QueryString["partyVoted"] == "on"
    };
}


<!-- Page Heading -->
<form id="searchForm" class="mb-3" method="get">
    <!-- Personal Information -->
    <div class="card mb-3">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#personalInfo">
                Personal Information
            </a>
        </div>
        <div id="personalInfo" class="collapse show">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="searchNationalId">National Id</label>
                        <input type="text" class="form-control" id="searchNationalId" name="nationalId" value="@filter.NationalId" placeholder="National Id">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="searchName">Name</label>
                        <input type="text" class="form-control" id="searchName" name="name" value="@filter.Name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="searchEmail">Email</label>
                        <input type="text" value="@filter.Email" class="form-control" id="searchEmail" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="searchBirthDateStart">Birth Date From</label>
                        <input type="date" value="@filter.BirthDateStart" class="form-control" id="searchBirthDateStart" name="birthDateStart">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="searchBirthDateEnd">Birth Date To</label>
                        <input value="@filter.BirthDateEnd" type="date" class="form-control" id="searchBirthDateEnd" name="birthDateEnd">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Demographics -->
    <div class="card mb-3">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#demographics">
                Demographics
            </a>
        </div>
        <div id="demographics" class="collapse">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="searchGender">Gender</label>
                        <select class="form-control" id="searchGender" name="gender" value="@filter.Gender">
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="searchReligion">Religion</label>
                        <select class="form-control" id="searchReligion" name="religion" value="@filter.Religion">
                            <option value="">Select Religion</option>
                            <option value="Islam">Islam</option>
                            <option value="Christian">Christianity</option>
                            @*<option value="Other">Other</option>*@
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="searchDistrict">District</label>
                        <select class="form-control" id="searchDistrict" name="district" value="@filter.District">
                            <option value="">Select District</option>
                            <option value="District 1">District 1</option>
                            <option value="District 2">District 2</option>
                            <option value="District 3">District 3</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Voting Information -->
    <div class="card mb-3">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#votingInfo">
                Voting Information
            </a>
        </div>
        <div id="votingInfo" class="collapse">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="searchLocallyVoted" name="locallyVoted" @(filter.LocallyVoted == true ? "checked" : "")>
                            <label class="form-check-label" for="searchLocallyVoted">
                                Has locally Voted
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="searchPartyVoted" name="partyVoted" @(filter.PartyVoted == true ? "checked" : "")>
                            <label class="form-check-label" for="searchPartyVoted">
                                Has Party Voted
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>


<h1 class="h3 mb-2 text-gray-800">Voters Table</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <tr>
                    <th>
                        National Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    @*<th>
                            Password
                        </th>*@
                    <th>
                        Birth Date
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Religion
                    </th>
                    @*<th>
                           Ethnicity
                        </th>*@
                    <th>
                        Has locally Voted
                    </th>
                    <th>
                        Has Party Voted
                    </th>
                    <th>
                        District
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.national_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.password)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.birth_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.religion)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ethnicity)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.has_locally_voted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.has_party_voted)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.first_login)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.district.name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div class="container mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Convert.ToInt32(page) == 0)
            {
                <li class="page-item disabled">
                    <a class="page-link " aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link " href="?page=@(Convert.ToInt32(page) - 1)&@filter.ToQueryString()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @{
                var currentPage = Convert.ToInt32(page);
                var numberOfPages = (int)ViewBag.numberOfPages;
                var maxPagesToShow = 20;
                var firstPagesToShow = 10;
                var lastPagesToShow = 10;
            }

            @for (var i = 0; i < numberOfPages; i++)
            {
                // Show first 10 pages
                if (i < firstPagesToShow)
                {
                    if (currentPage == i)
                    {
                        <li class="page-item active"><a class="page-link" href="?page=@i&@filter.ToQueryString()">@(i + 1)</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i&@filter.ToQueryString()">@(i + 1)</a></li>
                    }
                }
                // Show dots if there are more pages in between
                else if (i == firstPagesToShow)
                {
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                }
                // Show last 10 pages
                else if (i >= numberOfPages - lastPagesToShow)
                {
                    if (currentPage == i)
                    {
                        <li class="page-item active"><a class="page-link" href="?page=@i&@filter.ToQueryString()">@(i + 1)</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i&@filter.ToQueryString()">@(i + 1)</a></li>
                    }
                }
            }

            @if (currentPage >= numberOfPages - 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(currentPage + 1)&@filter.ToQueryString()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
</div>
