@model OrangeProjectMVC.Models.candidate_request

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>candidate_request</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.election_list_request_id, "election_list_request_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("election_list_request_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.election_list_request_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.type_of_chair, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.type_of_chair, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.type_of_chair, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_id, "user_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.is_representative, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.is_representative)
                @Html.ValidationMessageFor(model => model.is_representative, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

   
    <div class="form-group">
        @Html.LabelFor(model => model.img_url, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(Model.img_url))
            {
                <img src="@Url.Content(Model.img_url)" alt="Image" style="max-width: 200px; max-height: 200px;" />
            }
            @Html.EditorFor(model => model.img_url, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.img_url, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
