@model IEnumerable<OrangeProjectMVC.Models.election_list>
@{
    ViewBag.Title = "PartyListsNames";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center; font-family: cairo; margin-top: 1em;">PartyListsNames</h2>

<div class="container mt-5">
    <h1 style="text-align: center; font-family: cairo;">الرجاء اختيار القوائم المراد التصويت لها</h1>

    @using (Html.BeginForm("PartySaveVote", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row justify-content-center">
            @foreach (var list in Model)
            {
                <div class="col-md-3 my-2">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="@Html.DisplayFor(model => list.name)">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-family: cairo;">@Html.DisplayFor(model => list.name)</h5>
                            <p class="card-text" style="font-family: cairo;">Description for @Html.DisplayFor(model => list.name).</p>
                            <input class="custom-checkbox" type="radio" name="election_list_id" value="@list.id" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center mt-4">
            <button  type="submit" class="btn" style="background-color: red; margin-left:0.5em; color: white;">صوت الان</button>
            @Html.ActionLink("رجوع", "Index", "Home", new { area = "" }, new { @class = "btn", style = "background-color: black; color: white;" })
        </div>
    }
    
</div>
