@model OrangeProjectMVC.Models.Ad

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ad</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group d-none">
            @Html.LabelFor(model => model.img_url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10  d-non">
                @Html.EditorFor(model => model.img_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.img_url, "", new { @class = "text-danger" })
            </div>
        </div>
        <img src="@Url.Content(Model.img_url)" alt="" style="max-width:150px; width:150px" />

        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.status,
                    new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem { Value = "Rejected", Text = "Rejected" },
                        new SelectListItem { Value = "Active", Text = "Active" },
                        new SelectListItem { Value = "Pending", Text = "Pending" }
                    }, "Value", "Text"),
                    "Select Status",
                    new { @class = "form-control" })                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none">
                @Html.LabelFor(model => model.transaction_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.transaction_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.transaction_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
