@model IEnumerable<OrangeProjectMVC.Models.debate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.requested_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zoom_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debate_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.election_list.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.election_list1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.requested_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zoom_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debate_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.election_list.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.election_list1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
