@model IEnumerable<OrangeProjectMVC.Models.debate>

@{
    ViewBag.Title = "Approved Debates";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    h2.text-center{
        margin-top: 10%;
        font-family: 'Cairo';
        margin-bottom: 5%;
    }
    #debate {
        margin-bottom: 20%;
    }
    h5.card-title {
        font-family: 'Cairo';
    }
</style>
<h2 class="text-center">قائمة المناظرات  </h2>


<div class="container">
    <a class="btn btn-primary my-4" href="@Url.Action("Create", "debates")">طلب مناظرة</a>
    <div id="debate" class ="row">
        @foreach (var debate in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><strong> العنوان:  </strong>@debate.topic</h5> <br />
                        <p class="card-text"><strong>القائمة الاولى: </strong> @debate.election_list.name</p>
                        <p class="card-text"><strong>القائمة الثانية: </strong> @debate.election_list1.name</p>
                        <p class="card-text"><strong>التفاصيل: </strong> @debate.details</p>
                        <p class="card-text"><strong>موعد المناظرة: </strong> @debate.debate_date</p>
                        <a href="@debate.Zoom_link" target="_blank" class="btn btn-primary">رابط الزوم</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>




