@model OrangeProjectMVC.Models.election_list_request

@{
    ViewBag.Title = "Edit Election Request";
}

<h2>Edit Election Request</h2>

@using (Html.BeginForm("Edit", "election_list_request", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.name)
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.type)
        @Html.DropDownList("type", ViewBag.TypeList as SelectList, "Select Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.status)
        @Html.DropDownList("status", ViewBag.StatusList as SelectList, "Select Status", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.district_id)
        @Html.DropDownList("district_id", ViewBag.district_id as SelectList, "Select District", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.district_id, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image_url)
        <input type="file" name="image_file" class="form-control" />
        @Html.ValidationMessageFor(model => model.image_url, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
}
