@model IEnumerable<OrangeProjectMVC.Models.voter_user>

@{
    ViewBag.Title = "تسجيل قائمة حزبية";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    body {
        background-color: lightgray !important;
    }

    .margin {
        margin-top: 3%;
        margin-bottom: 3%;
    }
</style>
<div class="container margin">


    <div class="card p-4 mb-4">
        <h2 class="text-center mt-4">تسجيل قائمة حزبية</h2>
        <form method="post" action="@Url.Action("SavePartList")">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="lsitPartyName">أسم القائمة</label>
                    <input type="text" class="form-control" name="lsitPartyName" placeholder="ادخل اسم القائمة"
                           @(ViewBag.candetCount < ViewBag.numberOfSeates ? "disabled" : "") />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="nationalID">الرقم الوطني</label>
                    <input type="text" class="form-control" name="nationalID" id="nationalID" placeholder="ادخل الرقم الوطني" required
                           @(ViewBag.candetCount >= ViewBag.numberOfSeates ? "disabled" : "") />
                </div>
            </div>
            <div class="text-right mt-3">
                @if (ViewBag.candetCount >= ViewBag.numberOfSeates)
                {
                    <button class="btn btn-primary">حفظ الطلب</button>
                    <button type="submit" formaction="@Url.Action("PartyList", "reqistList")" class="btn btn-dark " disabled>
                        ابحث
                    </button>
                }
                else
                {
                    <button class="btn btn-primary" disabled>حفظ الطلب</button>
                    <button type="submit" formaction="@Url.Action("PartyList", "reqistList")" class="btn btn-dark" >
                        ابحث
                    </button>
                }

            </div>
        </form>
    </div>

    <div class="card p-4 ">
        <h3 class="text-center">قائمة المرشحين</h3>
        <table class="table table-bordered mt-4">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th scope="col">الرقم الوطني</th>
                    <th scope="col">اسم الناخب</th>
                    <th scope="col">البريد الالكتروني</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @if (Model.Any())
                {
                    foreach (var voter in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@voter.national_id</td>
                            <td>@voter.name</td>
                            <td>@voter.email</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-center">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
