@model IEnumerable<OrangeProjectMVC.Models.Date>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomination_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomination_end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.election_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.election_end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.results_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomination_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomination_end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.election_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.election_end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.results_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
